<nav class="navbar navbar-inverse navbar-fixed-top"  style="background-color: rgb(218, 90, 90);">
    <div class="container" style="background-color: rgb(218, 90, 90); padding-left: 90px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: white;" href="#">Software Engineering Project</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/" style="color: white;">Home</a></li>
          <li><a href="/about" style="color: white;">Result</a></li>
          <!-- <li><a href="/articles">articles</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
      <div style="color: white; float: right;">
        Made By:
        <br>
        Maria Aliasghar k180161
        <br>
        Izaan Sohail k180162
        <br>
        Abdul Musawwir k180185
      </div>
    </div>
  </nav>